*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../images/fundoTopo.jpg) repeat-x;
}

#container{
    width: 800px;
    margin:  0 auto;
}

#topo {
    height:  115px;
    padding-top: 5px;
}

.logo{
    width:  154px;
    height: 50px;
    background: url(../images/TI-NewsLogo.png) no-repeat center;
    text-indent: -3000px;
}

a:link, a:visited{
    color: #d49024;
    padding: 2px;
}

a:hover{
    color: #e50040;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Barra de navegação */
#topo ul{
    margin-top: 15px;
    background: #c9c9c9;
    float: left;
    font-size: 16px;
}

#topo ul li{
    float: left;
}

#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
}

#topo ul .primeiro a{
    background:  none;
}

#topo ul a:hover{
    color: #ba7e1e ;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos
{
 color: #fff;
 background: #d49024;
 cursor: text;
}

#conteudo{
    margin-top: 20px;
    background: #f5f5f5;
}

#lateral{
    width: 180px;
    float: left;
    margin:  0 0 20px -750px;
}

#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario{
    width: 555px;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
}

#secundario{
    width: 270px;
    float: left;
    margin:  0 0 20px 15px;
}

.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../images/fundo-caixa.png);
}

h2{
    font-size: 1em;
    background: #000;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
    background: #f9f9f9 url(../images/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #d49024;
}

label{
    display: block;
    cursor: pointer;
}

input{
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit{
    width: 80px;
    background-color: #b10333;
    border: 2px solid #870529;
    color: #fff;
}

img.img-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}

h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3{
    background: #d49024;
    color: #fff;
}

.entrevista h3{
    background: #d49024;
    color: #fff;
}

#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px; 
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a h3 {
    font-size: 0.8em;
    padding: 0;
    color: #b10333;
}

#lista-noticias li a p{
    font-size: 0.7em;
    color: #000;
}

#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}

#container-rodape{
    background: #000;
    padding: 10px;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
